{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DanielUngureanuPhotography</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!- -----------------------SEO SETTINGS -------------------------------- -->
    <title>Camera in the wild | High quality photos of mostly wildlife and wild landscapes</title>
    <meta name="description" property="og:description" content="Photography website, where you will find photos of wildlife, wild landscapes, food and people portraits">
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="keywords" content="photography, photos, camera, wildlife, landscapes, nature, portraits, food advertising, professional photos, high resolution photos on request, fotografii profesionale, fotograf">
    <meta name="author" content="Camera in the Wild">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://wwww.camerainthewild.xyz/">
    <meta property="og:site_name" content="Camera in the Wild">
    <meta property="og:title" content="Camera in the Wild | High quality photos of mostly wildlife and wild landscapes" />
    <meta property="og:description" content="Photography website, where you will find photos of wildlife, wild landscapes, food and people portraits.">
    <meta property="og:image" content="https://s01.thchost.ro:2083/cpsess0622113326/frontend/paper_lantern/filemanager/index.html">
    <meta property="og:image:alt" content="Cake for later as a way of life.">

    <link rel="canonical" href="https://wwww.camerainthewild.xyz/">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- AWESOME Font -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="{% static 'photo_portfolio_app/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'photo_portfolio_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'photo_portfolio_app/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'photo_portfolio_app/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'photo_portfolio_app/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'photo_portfolio_app/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'photo_portfolio_app/css/lightgallery.min.css' %}">

    <link rel="stylesheet" href="{% static 'photo_portfolio_app/css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'photo_portfolio_app/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'photo_portfolio_app/css/swiper.css' %}">

    <link rel="stylesheet" href="{% static 'photo_portfolio_app/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'photo_portfolio_app/css/style.css' %}">
    <link rel="icon" href="{% static 'photo_portfolio_app/favicon.png' %}">
    <!-- <script src="https://use.fontawesome.com/a200d27e9e.js"></script> -->
    <script src="https://kit.fontawesome.com/d448fb05de.js" crossorigin="anonymous"></script>
  </head>
  <body>

  <div class="site-wrap">


    <div class="site-mobile-menu">
     <div class="site-mobile-menu-header">
       <div class="site-mobile-menu-close mt-3">
         <span class="icon-close2 js-menu-toggle"></span>
       </div>
     </div>
     <div class="site-mobile-menu-body"></div>
   </div>



<!------------------------------------HEADER END ----------------------------->
{% block content %}

{% endblock %}

  {% include 'photo_portfolio_app/footer.html' %}



  </div>
<!---------------------------------------FOOTER END ---------------------- -->
<!-------------------------------------SCRIPTS IN JS --------------------- -->
  <script src="{% static 'photo_portfolio_app/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'photo_portfolio_app/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'photo_portfolio_app/js/jquery-ui.js' %}"></script>
  <script src="{% static 'photo_portfolio_app/js/popper.min.js' %}"></script>
  <script src="{% static 'photo_portfolio_app/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'photo_portfolio_app/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'photo_portfolio_app/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'photo_portfolio_app/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'photo_portfolio_app/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'photo_portfolio_app/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'photo_portfolio_app/js/swiper.min.js' %}"></script>
  <script src="{% static 'photo_portfolio_app/js/aos.js' %}"></script>

  <script src="{% static 'photo_portfolio_app/js/picturefill.min.js' %}"></script>
  <script src="{% static 'photo_portfolio_app/js/lightgallery-all.min.js' %}"></script>
  <script src="{% static 'photo_portfolio_app/js/jquery.mousewheel.min.js' %}"></script>

  <script src="{% static 'photo_portfolio_app/js/main.js' %}"></script>

  <script>
    $(document).ready(function(){
      $('#lightgallery').lightGallery();
    });
  </script>
<!--------------------------------------------------SCRIPTS IN JS --------------------------------------------------- -->
  </body>
</html>
