{% load static %}
<!--------------------------------------------------FOOTER START ----------- -->
  <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="mb-5">
              {% for item in about %}
              <h3 class="footer-heading mb-4">About Me</h3>
              <p>{{ item.description|safe }}</p>
              {% endfor %}
            </div>
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="row mb-5">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Navigations</h3>
              </div>
              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li class="has-children">
                    <a>Photography</a>
                    <ul class="dropdown">
                      {% for item in categories_specialty %}
                      <li><a href="{% url 'category' item.slug %}">{{ item.name|title }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  <li><a href="{% url 'services' %}">Services</a></li>
                </ul>
              </div>

              <div class="col-md-6 col-lg-6">
                <ul class="list-unstyled">
                  <li><a href="{% url 'about' %}">About Me</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="{% url 'contact' %}">Contact Me</a></li>
                  <li><a href="#">Terms</a></li>
                </ul>
              </div>
            </div>


          </div>

          <div class="col-lg-4 mb-5 mb-lg-0">
            <h3 class="footer-heading mb-4">Follow Me</h3>

                <div>
                  <a href="https://www.facebook.com/ungureanu.daniel.96?ref=bookmarks" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                </div>



          </div>

        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script><a href="{% url 'login' %}" style="cursor:pointer;">. All rights reserved</a> | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>

        </div>
      </div>
    </footer>
