{% extends 'photo_portfolio_app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <header class="site-navbar py-3 bg-black text-white" role="banner">




      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2">
            <h1 class="mb-0"><a href="{% url 'home' %}" class="text-white h5 mb-0">Camera in the <span style="color:#228B22;">wild...</span></a></h1>
          </div>
          <div class="col-10 col-md-8 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                <li class="has-children">
                  <a>Photography</a>
                  <ul class="dropdown">
                    {% for item in categories_specialty %}
                    <li><a href="{% url 'category' item.slug %}">{{ item.name|title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li><br>

              </ul>
            </nav>
          </div>

          <div class="col-6 col-xl-2 text-right">
            <div class="d-none d-xl-inline-block">
              <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                <li>
                  <a href="https://www.facebook.com/ungureanu.daniel.96" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="https://twitter.com/udanielioan" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                </li>
                <li>
                  <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                </li>
                <li>
                  <a href="#" class="pl-3 pr-3"><span class="icon-youtube-play"></span></a>
                </li>
              </ul>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3 text-white"></span></a></div>

          </div>

        </div>
      </div>

    </header>
<!-----------------------------------PRESENTATION START -------------------- -->
    <div class="site-blocks-cover overlay inner-page-cover" style="background-image: url('static/photo_portfolio_app/images/Veverita-5.jpg'); background-position: center; background-size: cover;" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7 text-center" data-aos="fade-up">
            <h1>Hi there! I'm  Daniel.</h1>
            <p class="text-light small text-center font-weight-light">I worked many years in nature conservation. The photos you will see on this website reflect that.</p>
            <span class="text-light font-weight-bolder lead text-center">Enjoy!</span>
          </div>
        </div>
      </div>
    </div>

    <div class="site-block-profile-pic" data-aos="fade" data-aos-delay="200">
      {% for item in about %}
      <a href="{% url 'about' %}"><img src="{{ item.headshot.url }}" alt="Image"></a>
      {% endfor %}
    </div>
<!----------------------------PRESENTATION END ----------------------------- -->

<!-----------------------------CATEGORIES START ---------------------------- -->
    <div class="site-section" data-aos="fade">
      <div class="container">
        <div class="row mb-5 mt-5">
            <div class="col-12 ">
              <h2 class="site-section-heading text-center">My Specialties</h2>
            </div>
          </div>
        <div class="row">
          <div class="col-2">
            {% if user.is_authenticated %}
            <span class="text-white bg-success btn"><i class="fas fa-plus"></i><a class="text-white" href="{% url 'add_specialty' %}"> Add New Specialty</a></span>
            <br><br>
            {% endif %}
          </div>
        </div>

        <div class="row">
          {% for item in categories_specialty %}
          <div class="col-md-6">

            <div class="site-block-half d-lg-flex">

              <div class="image" style="background-image: url('{{ item.thumbnail.url }}');"></div>
              <div class="text">
                <h3><a href="{% url 'category' item.slug %}" class="specialties_name;">{{ item.name|upper }}</a></h3>
                {% if user.is_authenticated %}
                <a href="#"><i class="fa fa-pencil text-danger"></i></a>
                <a href="#"><i class="fa fa-trash text-danger"></i></a>
                {% endif %}
                <p>{{ item.text|safe }}</p>
              </div>
            </div>


          </div>
          {% endfor %}
        </div>
      </div>
    </div>
<!--------------------------------SPECIALTIES END ---------------------------->
    {% include 'photo_portfolio_app/comments.html' %}
<!--------------------------------FEATURED PHOTOS START ------------------- -->
    <div class="site-section border-bottom">
      <div class="container">
        <div class="row text-center justify-content-center mb-5">
          <div class="col-md-7" data-aos="fade-up">
            <h2>Some of my photos</h2>
          </div>
        </div>

        {% if user.is_authenticated %}
        <div class="row">
          <span class="text-white bg-success btn"><i class="fas fa-plus"></i><a class="text-white" href="{% url 'add_photo' %}"> Add New Photo</a></span>
        </div>
        <br>
        {% endif %}

        <div class="row">
          {% for item in featured_pics %}
          <div class="col-md-6 col-lg-4 d-lg-inline" data-aos="fade-up" data-aos-delay="100">

            <a class="image-gradient" href="#">

              <figure>
                <img src="{{ item.image.url }}" alt="" class="img-fluid">
              </figure>
              <div class="text">
                <h3>{{ item.image_title|title }}</h3>
                <span>{{ item.category__count }} photos / {{ item.category|capfirst }}</span>
              </div>
            </a>

          </div>
          {% endfor %}
        </div>

          {% for item in next_three_photos %}
          <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <a class="image-gradient" href="{% url 'category' item.pk %}">
              <figure>
                <img src="{{ item.image.url }}" alt="" class="img-fluid">
              </figure>
              <div class="text">
                <h3>{{ item.image_title|title }}</h3>
                <span>{{ item.category__count }} photos / {{ item.category|capfirst }}</span>
              </div>
            </a>
          </div>
          {% endfor %}
          {% for item in last_three_photos %}
          <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <a class="image-gradient" href="{% url 'category' item.pk %}">
              <figure>
                <img src="{{ item.image.url }}" alt="" class="img-fluid">
              </figure>
              <div class="text">
                <h3>{{ item.image_title|title }}</h3>
                <span>{{ item.category__count }} photos / {{ item.category|capfirst }}</span>
              </div>
            </a>
          </div>
          {% endfor %}
      </div>

    </div>
<!-----------------------------FEATURED PHOTOS END ------------------------- -->
<!----------------------------CONTACT ME START ----------------------------- -->
   <div class="contact_section py-3 mb-5 mt-5" style="background-image: url('/static/photo_portfolio_app/images/Old_Phone.jpg'); background-repeat: no-repeat; background-position: center; background-size: 100% auto;
">
     <div class="container" >
       <div class="row">
         <div class="col-md-12 d-md-flex align-items-center" data-aos="fade">
           <h2 class="text-white mb-5 mb-md-0 text-center text-md-left">Need a photographer? Let's talk!</h2>
           <div class="ml-auto text-center text-md-left">
            <br>
           </div>
         </div>
       </div>
       <div class="">
           {% include 'photo_portfolio_app/contact_form.html' %}
       </div>
     </div>
   </div>
<!------------------------------CONTACT ME END ----------------------------- -->
    <br>
<!-------------------------------------REVIEWS START -------------------------->
  <div class="comment_section" style="background-image: url('/static/photo_portfolio_app/images/notes.jpg'); background-repeat: no-repeat; background-position: center; background-size: 100% auto;
  ">
    <div class="container" >
        <div class="row">
            <div class="col-12">
                <h2 class="mt-5">
                    Do you like my website? Write a few words on what you think about it, here!
                </h2>
                <form method="POST" action="/">
                  {% csrf_token %}

                  {{ comment_form|crispy }}


                  <p class="text-white">* Required</p>

                  <button type="submit" value="Save" class="btn btn-primary py-2 px-4 mb-3 text-white">Send</button>
                </form>

                <br>
            </div>

        </div>

    </div>
  </div>
<!---------------------------REVIEWS END ----------------------------------- -->
{% endblock %}
