{% extends 'photo_portfolio_app/base.html' %}
{% load static %}

{% block content %}

<!--------------------------------------------------SERVICES START ---------------------------------------------- -->
    <div class="site-blocks-cover overlay inner-page-cover" style="background-image: url('static/photo_portfolio_app/images/hero_bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7 text-center" data-aos="fade-up">
            <h1>My Services</h1>
          </div>
        </div>
      </div>
    </div>

  

    <div class="site-section">
      <div class="container">
        <div class="row text-center justify-content-center mb-5">
          <div class="col-12 " data-aos="fade-up">
              <h2 class="site-section-heading text-center">My Specialties</h2>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="site-block-half d-lg-flex" data-aos="fade-up" data-aos-delay="100">
              <div class="image" style="background-image: url('images/img_1.jpg');"></div>
              <div class="text">
                <h3>Nature Photography</h3>
                <p>Sunt nesciunt repellat molestias vitae nostrum aliquid laudantium quo voluptatem provident voluptate tenetur illo.</p>
              </div>
            </div>
            <div class="site-block-half d-lg-flex" data-aos="fade-up" data-aos-delay="200">
              <div class="image" style="background-image: url('images/img_3.jpg');"></div>
              <div class="text">
                <h3>Portrait Photography</h3>
                <p>Sunt nesciunt repellat molestias vitae nostrum aliquid laudantium quo voluptatem provident voluptate tenetur illo.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="site-block-half d-lg-flex" data-aos="fade-up" data-aos-delay="300">
              <div class="image" style="background-image: url('images/img_2.jpg');"></div>
              <div class="text">
                <h3>Wedding Photography</h3>
                <p>Sunt nesciunt repellat molestias vitae nostrum aliquid laudantium quo voluptatem provident voluptate tenetur illo.</p>
              </div>
            </div>
            <div class="site-block-half d-lg-flex" data-aos="fade-up" data-aos-delay="400">
              <div class="image" style="background-image: url('images/img_4.jpg');"></div>
              <div class="text">
                <h3>Food & Drink Photography</h3>
                <p>Sunt nesciunt repellat molestias vitae nostrum aliquid laudantium quo voluptatem provident voluptate tenetur illo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section"  data-aos="fade">
    <div class="container-fluid">
      
      <div class="row justify-content-center">
        <div class="col-md-7">
          <div class="row mb-5">
            <div class="col-12 " data-aos="fade-up">
              <h2 class="site-section-heading text-center">Other Services</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5" data-aos="fade" data-aos-delay="100">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-camera display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Camera</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum exercitationem quae id dolorum debitis.</p>
                <p><strong class="font-weight-bold text-primary">$29</strong></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5" data-aos="fade" data-aos-delay="200">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-picture display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Wedding Photography</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum exercitationem quae id dolorum debitis.</p>
                <p><strong class="font-weight-bold text-primary">$46</strong></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5" data-aos="fade" data-aos-delay="300">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-sheep display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Animal</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum exercitationem quae id dolorum debitis.</p>
                <p><strong class="font-weight-bold text-primary">$24</strong></p>
              </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5" data-aos="fade" data-aos-delay="400">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-frame display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Portrait</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum exercitationem quae id dolorum debitis.</p>
                <p><strong class="font-weight-bold text-primary">$40</strong></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5" data-aos="fade" data-aos-delay="500">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-eiffel-tower display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Travel</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum exercitationem quae id dolorum debitis.</p>
                <p><strong class="font-weight-bold text-primary">$35</strong></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5" data-aos="fade" data-aos-delay="600">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-video-play display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Video Editing</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum exercitationem quae id dolorum debitis.</p>
                <p><strong class="font-weight-bold text-primary">$15</strong></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


   <div class="py-3 mb-5 mt-5 pt-5 border-top">
     <div class="container">
       <div class="row">
         <div class="col-md-12 d-md-flex align-items-center" data-aos="fade">
           <h2 class="text-black mb-5 mb-md-0 text-center text-md-left">Need a photographer?</h2>
           <div class="ml-auto text-center text-md-left">
            <a href="contact.html" class="btn btn-danger py-3 px-5 rounded">Contact Me</a>
           </div>
         </div>
       </div>
     </div>
   </div>


  
{% endblock %}